/* .list {
    margin-left: 20px;
    font-size: 18px;
} */

/* .list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */

  /* justify-content: space-around; 
/* } */

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -45px;
}